<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Vikash group of institutions</title>

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" href="~/assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/aos-master/dist/aos.css">
   
    <style>

            /* Adjusting styles for hover dropdown */
            .navbar{
        padding: 0em !important;
        background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)) !important;
      }






/* Add more styles as needed for different elements */
    </style>

</head>

<body>
    
    <!-- ################# Header Starts Here#######################--->
    <header>
        <div id="header">
        <div class="header-top" >
            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-lg-8 col-md-0 left-item">
                        <div class="top-header">
                            <b class="news-list" >NEWS: </b>
                        
                            <marquee class="headquote"> Admissions are now open for the 2024 session. Apply now !!!</marquee>
                        </div>
                    </div>
                        <div class="col-lg-4 col-md-12 right-item">
                            <ul>
                                <li><i class="fas fa-envelope-square"></i> collegeemail@gmail</li>
                                <li><i class="fas fa-phone-square"></i> +0123456789</li>


                            </ul>
                        </div>
                    
                </div>

            </div>
        </div>


        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
            <div class="container-fluid navtab">
              <a class="navbar-brand ml-5" href="@Url.Action("Index","Home")">
                <img src="~/assets/images/KVHEI, Raipur.png" alt=""  height="91px" width="135px"></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-2">
                            <li class="nav-item dropdown btn41-43 btn-43">
                                <a class="nav-link" href="@Url.Action("Index","Home")" id="navbarDropdown1" role="button">
                                    HOME
                                </a>

                            </li>
                  <li class="nav-item dropdown btn41-43 btn-43">
                                <a class="nav-link" href="@Url.Action("AboutUs","Home")" id="navbarDropdown1" role="button">
                        ABOUT US
                    </a>
                    
                  </li>
                  <li class="nav-item dropdown btn41-43 btn-43">
                    <a class="nav-link " href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ACADEMICS
                    </a><!--
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                    <a class="dropdown-item" href="@Url.Action("Index","Home")#cources">Course Offered</a>
                      <a class="dropdown-item" href="#">Submenu 2</a>
                                    <a class="dropdown-item" href="@Url.Action("Syllabus","Home")">Syllabus</a>
                                </div>-->
                  </li>
                  <li class="nav-item dropdown btn41-43 btn-43">
                    <a class="nav-link" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ADMISSION
                                </a>
                                <!--
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                    <a class="dropdown-item" href="@Url.Action("admission_criteria","Home")">Admission Criteria</a>
                                    <a class="dropdown-item" href="@Url.Action("fee_structure","Home")">Fee Structure</a>
                        <a class="dropdown-item" href="#">Submenu 3</a>
                                </div>-->
                  </li>
                  <li class="nav-item dropdown btn41-43 btn-43">
                                <a class="nav-link" href="@Url.Action("contact_us","Home")" id="navbarDropdown4">
                        CONTACT
                                </a>
                                <!--
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
                      <a class="dropdown-item" href="#">Submenu 1</a>
                      <a class="dropdown-item" href="#">Submenu 2</a>
                      <a class="dropdown-item" href="#">Submenu 3</a>
                                </div>-->
                  </li>
                  <li class="nav-item dropdown btn41-43 btn-43">
                    <a class="nav-link" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ACCREDATION
                                </a>
                                <!--
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown5">
                      <a class="dropdown-item" href="#">IQAC</a>
                      <a class="dropdown-item" href="#">NBA</a>
                      <a class="dropdown-item" href="#">NAAC</a>
                                </div>-->
                  </li>
                  
                </ul>
              </div>
            </div>
            
          </nav>
        </div>

    </header>


    <!--  ************************* Page Title Starts Here ************************** -->
    <div>
        @RenderBody();
    </div>


    <!-- ################# Our Footer Starts Here#######################--->


<footer>
        <div class="container" data-aos="zoom-in" data-aos-delay="100" data-aos-easing="ease-in-sine" data-aos-duration="800">
        <div class="row">
            <div class="col-md-4 about">
                <h2>About Us</h2>
                <p><h5>Krishna Vikash Group of Institutions</h5>Aiming on the overall development of our students. </p>

                <div class="footer-address">
                    <div class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="adress">
                        Near nandanvan,<br>
                        Atari, Raipur,
                        Chattisgarh, IND
                    </div>
                </div>
                <div class="footer-address">
                    <div class="icon">
                        <i class="far fa-envelope-open"></i>
                    </div>
                    <div class="adress">
                        collegeemail@gmail.com <br>
                        collegeemail2@gmail.com
                    </div>
                </div>
                <div class="footer-address">
                    <div class="icon">
                        <i class="fas fa-mobile-alt"></i>
                    </div>
                    <div class="adress">
                        +23 323 43434 <br>
                        +1 3232 434 55
                    </div>
                </div>
            </div>

            <div class="col-md-4 google-link">
                <ul>
                    <li><i class="fas fa-angle-double-right"></i>@Html.ActionLink("Home", "Index", "Home", new { })</li>
                        <li><i class="fas fa-angle-double-right"></i><a href="@Url.Action("AboutUs","Home")">About Us</a></li>
                    <li><i class="fas fa-angle-double-right"></i>@Html.ActionLink("Gallery", "gallery", "Home", new { })</li>
                    <li><i class="fas fa-angle-double-right"></i>@Html.ActionLink("Contact Us", "Contact_us", "Home", new { })</li>
                    <li><i class="fas fa-angle-double-right"></i><a href="@Url.Action("Index","Home")#cources">Courses</a></li>
                    <li><i class="fas fa-angle-double-right"></i>@Html.ActionLink("Fee Structure", "fee_structure", "Home", new { })</li>
                </ul>
            </div><link href="c:\users\ashut\desktop\new folder (4)\kvipsr_raipur-master\views\shared\_layout.cshtml.css" rel="stylesheet" />
            <a href="c:\users\ashut\desktop\new folder (4)\kvipsr_raipur-master\views\shared\_layout.cshtml"></a>
            <div class="col-md-4 tags">
                <h2>Our Institutes</h2>
                <ul>
                    <li><a href="https://odishavikash.com/">VIKASH GROUP OF INSTITUTIONS</a></li>
                    <li><a href="#"></a>KVIT</li>
                    <li><a href="#"></a>KVIPSR</li>
                    <li><a href="#"></a>VIKASH RESIDENTIAL SCHOOL</li>
                    <li><a href="#"></a>VIKASH FIRST STEP</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!----------------------SocialMedia Icon start------------------------>
<socialLinks>
    <ul>
        <li><a href="tel:9337310441 "><i class="fas fa-phone"></i><span>+91 9337310441</span></a></li>
        <li><a href="mailto:contact@orissavikash.com"><i class="far fa-envelope-open"></i><span>E-Mail</span></a></li>
        <li><a href="https://www.facebook.com/odisha.vikash" target="_blank"><i class="fab fa-facebook-f"></i><span>Facebook</span></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i><span>Instagram</span></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a></li>
        <li><a href="https://www.youtube.com/channel/UCG_3f4JuZJ0yd-sCPSvcXSA" target="_blank"><i class="fab fa-youtube"></i><span>Youtube</span></a></li>
    </ul>
</socialLinks>

</body>

<script src="~/assets/js/jquery-3.2.1.min.js"></script>
<script src="~/assets/js/popper.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/owlcarousel/owl.carousel.min.js"></script>
<script src="~/assets/js/script.js"></script>
<script src="~/assets/aos-master/dist/aos.js"></script>

<script>

    AOS.init();


    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
        var currentScrollPos = window.pageYOffset;
        if (document.body.scrollTop > 40 || document.documentElement.scrollTop > 40) {
            if (prevScrollpos > currentScrollPos) {
                document.getElementById("header").style.top = "0";
            } else {
                document.getElementById("header").style.top = "-163px";
            }
            prevScrollpos = currentScrollPos;

        }
    }

    $(document).ready(function () {
        // Initialize the carousel
        $('#myCarousel').carousel();

        // Click event handler for thumbnail anchors
        $('.custom-carousel-indicators .indicator-item').click(function (e) {
            e.preventDefault(); // Prevent the default behavior of anchor tags
            var slideId = $(this).attr('href'); // Get the href attribute value
            $('#myCarousel').carousel($(slideId).index()); // Switch to the clicked slide
            $('.custom-carousel-indicators .indicator-item').removeClass('active'); // Remove active class from all indicators
            $(this).addClass('active'); // Add active class to the clicked indicator
        });

        // Automatic slide change interval
        setInterval(function () {
            $('#myCarousel').carousel('next');
            updateActiveIndicator(); // Update active indicator
        }, 3000); // Change slides every 3 seconds (adjust as needed)

        // Function to update active indicator
        function updateActiveIndicator() {
            var activeSlideIndex = $('.carousel-item.active').index(); // Get the index of the active slide
            $('.custom-carousel-indicators .indicator-item').removeClass('active'); // Remove active class from all indicators
            $('.custom-carousel-indicators .indicator-item').eq(activeSlideIndex).addClass('active'); // Add active class to corresponding indicator
        }
    });
    document.addEventListener("DOMContentLoaded", function () {
        AOS.init({
            offset: 90, // Adjust this offset as needed
            delay: 100,// Optional delay
            once: true // Only animate elements once
        });
    });


    /* $(document).ready(function(){
     $("#testimonial-slider").owlCarousel({

         items:1,
         itemsDesktop:[1000,1],
         itemsDesktopSmall:[979,1],
         itemsTablet:[768,1],
         margin:10,
         pagination:false,
         navigation:true,
         navigationText:["",""],
         autoPlay:true
     });
    }); */


    let slideIndex = -1;

    function moveSlide(direction) {
        const slidesz = document.querySelector('.slidesz');
        const slideWidth = document.querySelector('.slidez').offsetWidth;
        const maxIndex = document.querySelectorAll('.slidez').length - 1;

        slideIndex += direction;

        if (slideIndex < 0) {
            slideIndex = maxIndex;
        } else if (slideIndex > maxIndex) {
            slideIndex = 0;
        }

        slidesz.style.transform = `translateX(-${slideWidth * slideIndex}px)`;
    }
</script>




</html>
